allow system_app adbd_prop:file { open getattr map };
allow system_app apexd_prop:file { open getattr };
allow system_app bootloader_boot_reason_prop:file { open getattr map };

hal_client_domain(system_app, hal_mlipay)
binder_call(system_app, storaged)
